@font-face {
   font-family: SegoeUISemibold;
   src: local("SegoeUISemibold"), url(./Fonts/SegoeUISemibold.ttf) format("truetype");
}

@font-face {
   font-family: myraid-pro;
   src: local("MyriadProSemibold"), url(./Fonts/MyriadProSemibold.ttf) format("truetype");
}
